
.main{
  height: 200vh;
  min-height: 100vh;
  height: auto;
}


.card-img-top{
  width: 100%;
  height: 100%;
}

.btn{
  background: rgb(255, 255, 255);
  color: black;
  margin-top: 30px;
}



.btn:hover{
  box-shadow: 1px 1px 2px 2px rgb(201, 201, 201);
  background-color: #cacaca;
}


.view{
  display: flex;
  margin-top: 10px;
  background: rgb(234, 230, 230);
  border: none;
  padding: 10px;

}

.view:hover{
  box-shadow: 1px 1px 2px 2px rgb(201, 201, 201);
  background-color: #cacaca;

}

.rates p{
  margin-right: 5rem;
}

.card-text{
  color: black;
  padding-top: 10px;
}


.paragraph{
    margin: 10rem 15rem;
    width: 30rem;
    display: flex;
    flex-direction: column;
}

.card-title{
  padding: 0px 8px 0px 8px;
}

.button {
  margin-top: 0px;
  padding: 8px 16px;
  background: linear-gradient(90deg, #ffd700 0%, #ffd700 16%, #e5c100 50%, #ffd700 83%, #ffd700 100%);
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  cursor: pointer;
  animation: colorMovement 4s infinite; 
  transition: background 0.3s ease; 
}

.button:hover {
  background: linear-gradient(90deg, #e5c100 0%, #e5c100 16%, #ffd700 50%, #e5c100 83%, #e5c100 100%);
}


@keyframes colorMovement {
  0% {
    background-position: 0% 50%; /* Start position of the gradient */
  }
  100% {
    background-position: 100% 50%; /* End position of the gradient */
  }
}


.button:active{
    opacity: 0.8;
}



img{
  width: 100%; 
  height: 300px;
   /* border-radius: 50px; */
}
h3{
  margin-left: 4%; 
  margin-top: -35px;
}
.user{
  margin-top: -2%;
}
.navbar{
  background-color: rgb(229, 226, 226);
}
.col-md-2{
  display: flex;
  gap: 40px;
}

.card {
  display: flex;
  width: 250px;
  height: 230px;

}



.content {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card:hover .content {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  /* line-height: 300px; */
  color: #000000;
  text-align: center;
  font-size: 15px;
  border-radius: 5px;
  backface-visibility: hidden;
}

.back {
  /* background: url(../../../assets/images/images/bee_fasteners_white_wide_1950x.jpg); */
  background-color: #cacaca;
  color: black;
  transform: rotateY( 180deg );
}

.footer{
  margin-top: 100vh;
}


p{
  margin: 2px;
  padding: 2px;
  font-size: 13px;
}



/* product.component.css */
.product-image {
  width: 100%;
  height: 450px;
}

.product-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.product-name {
  font-size: 2rem;
  margin-bottom: 15px;
}

.product-description {
  font-size: 1.2rem;
  text-align: center;
  color: #555;
}
