<div class="container">
 

        <div class="flex-container">
          <h2><b >Gender</b></h2>
          <i class="fa fa-times" routerLink="/genderall"></i>
        </div>
  <label><b>Gender :</b></label>
   
    <input type="text" name="gender" placeholder="gender" size="15" ngModel #gender="ngModel" 
            required 
            pattern="[a-z A-Z 0-9]*"
            type="text" 
            name="gender"
            class="form-control"
            [(ngModel)]="gend.gender" [value]="gend.gender" style="border-radius: 10px;">
        <div class="alert alert-danger" *ngIf="gender.touched && gender.invalid" style="padding-left: 50px;">Gender is required</div>
    <br> 

    <button class="button" (click)="onSubmit()"  ><b> Submit </b></button>
</div>
