<br />

<div class="row justify-content-center">
  <div class="col-md-7">
    <div class="main">
      <h2 style="padding-left: 30px"><b> Payment</b></h2>
      <form class="mopform">

        <div class="row">
          <div class="col-md-6">
            <label>Total Amount : </label>
            <input
              placeholder="Total Amount"
              ngModel
              #totalAmount="ngModel"
              required
              type="number"
              class="form-control"
              name="totalAmount"
              [(ngModel)]="Payment.totalAmount"
              [value]="payment.totalAmount"
              
            />
            <div
              class="alert alert-danger"
              *ngIf="totalAmount.touched && totalAmount.invalid"
            >
              Total Amount is required
            </div>
          </div>
          <div class="col-md-6">
            <label>Discount Amount : </label>

          <input
            placeholder="Discount Amount"
            ngModel
            #discountAmount="ngModel"
            required
            class="form-control"
            type="number"
            name="discountAmount"
            [(ngModel)]="payment.discountAmount"
            (input)="calculateAmountPaid()"
          />
          <div
            class="alert text-danger"
            *ngIf="discountAmount.touched && discountAmount.invalid"
          >
            Discount Amount is required
          </div>
          </div>
          <div class="col-md-6">
            <label>Amount Paid : </label>
            <input
              placeholder="Amount Paid"
              ngModel
              #amountPaid="ngModel"
              required
              pattern="^\d+(\.\d{1,2})?$"
              type="text"
              name="amountPaid"
              class="form-control"
              [(ngModel)]="payment.amountPaid"
            />
            <div
              class="alert alert-danger"
              *ngIf="amountPaid.touched && amountPaid.invalid"
            >
              Amount Paid is required
            </div>
          </div>
          <div class="col-md-6">
            <div class="select-container form-group">
              <label for="modeOfPayment">Mode Of Payment:</label>
              <select
                [(ngModel)]="selecteMop"
                name="modeOfPayment"
                id="modeOfPayment"
                class="form-control"
                required
                (change)="onModeOfPaymentSelectionChange()"
              >
                <option selected disabled>Select Mode Of Payment</option>
                <i class="bi bi-caret-down-fill"></i>
                <option *ngFor="let mop of mops" [value]="mop.modeOfPaymentId">
                  {{ mop.modeOfPayment }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div>
              <h1>HIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII</h1>
              <mat-form-field class="search-cus">
                <input
                  matInput
                  [formControl]="customerControl"
                  placeholder="Search customer"
                  [matAutocomplete]="auto"
                />
                <mat-autocomplete
                  [displayWith]="displayFn"
                  #auto="matAutocomplete"
                  #selectCustomer
                >
                  <mat-option
                    *ngFor="let c of filteredCustomers | async"
                    [value]="c.customerId"
                    (click)="onCustomerSelectionChange(c.customerId)"
                  >
                    {{ c.phone1 }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>


              <div *ngIf="selectedPaymentCustomer">
                
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Customer Name</th>
                      <th scope="col">Customer Phone</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{ payment.customer.customerName }}</td>
                      <td>{{ payment.customer.phone1 }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- <div class="col-md-6">
            <div class="select-container form-group">
              <label for="bankDetails">Bank :</label>
              <select
                [(ngModel)]="selectedBankDetails"
                name="bankDetails"
                id="bankDetails"
                class="form-control"
                required
                (change)="onBankDetrailsSelectionChange()"
              >
                <option selected disabled>Select Mode Of Payment</option>
                <i class="bi bi-caret-down-fill"></i>
                <option *ngFor="let b of bankDetailsList" [value]="b.bankDetailsId">
                  {{ b.accountHolderName }}
                </option>
              </select>
            </div>
          </div> -->
        </div>
        <div class="">
         


          <div class="table-responsive">
            <table
              class="table table-striped table-hover table-borderless align-middle"
            >
              <thead class="table-light">
                <caption>
                  Products
                </caption>
                <tr>
                  <th>SlNo.</th>
                  <th>Name</th>
                  <th>Weight</th>
                  <th>Stone</th>
                  <th>Processing</th>
                </tr>
              </thead>
              <tbody class="table-group-divider">
                <tr *ngFor="let product of payment.products; let i = index">
                  <td scope="row">{{ i + 1 }}</td>
                  <td>{{ product.productName }}</td>
                  <td>{{ product.weightage }}</td>
                  <td style="width: 120px;">
                    <input type="number" class="form-control" [(ngModel)]="product.stoneWeight" name="productLabour{{i}}">
                  </td>
                  <td style="width: 120px;">
                    <input type="number" class="form-control" [(ngModel)]="product.processing" name="productLabour{{i}}">
                  </td>
                  
                </tr>
              </tbody>
              <tfoot></tfoot>
            </table>
          </div>

         

        

          <button class="button" (click)="confirmSubmit()">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- <div class="example-container">
    <mat-form-field>
     <input matInput placeholder="Total-Amount">
   </mat-form-field>

   <mat-form-field>
     <input matInput placeholder="Discount-Amount">
   </mat-form-field>

   <mat-form-field>
     <input matInput placeholder="Payment-Id">
   </mat-form-field>

   <mat-form-field>
     <input matInput placeholder="Amount-Paid">
   </mat-form-field>

   <mat-form-field>
     <input matInput placeholder="Total-Weight">
   </mat-form-field>

   <mat-form-field>
     <input matInput placeholder="User-Id">
   </mat-form-field>

   <mat-form-field>
     <input matInput placeholder="Login-Id">
   </mat-form-field>

    <mat-form-field>
     <input matInput [matDatepicker]="picker" placeholder="Choose a date">
     <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
     <mat-datepicker #picker></mat-datepicker>
   </mat-form-field>
</div> -->
