
    <div class="container Main col-md-6 mx-auto" style="max-width: 800px;">
     
      <h1>Rate</h1>
      <div class="cancel">
        <a routerLink="/rateall"
          ><i class="fa fa-times" style="color: black; margin-left: 90%"></i
        ></a>
      </div>
      <br />
      <br />
      <form>
        <label style="font-size: 1.1em">Rate Per Gram:</label> &nbsp;
        <input
          ngModel
          #ratePerGram="ngModel"
          required
          class="form-control"
          type="number"
          name="ratePerGram"
          [(ngModel)]="rate.ratePerGram"
          id="ratePerGram"
          placeholder="ratePerGram"
        />
      
        <div *ngIf="!ratePerGram?.valid && (ratePerGram?.dirty || ratePerGram?.touched)" style="color: red;">
          Please add rate
        </div>
      
        <br />
        <div style="display: flex; justify-content: space-between">
          <mat-form-field>
            <mat-label>Metal</mat-label>
            <mat-select class="form-Group" [(ngModel)]="selectedMetal" name="selectedMetal" #selectMetal="ngModel" required>
              <mat-option
                value="{{ m.metalId }}"
                *ngFor="let m of metals"
                (click)="onMetalSelectionChange(m.metalId)"
              >
                {{ m.metalName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
      
          <mat-form-field>
            <mat-label>Purity</mat-label>
            <mat-select class="form-Group" [(ngModel)]="selectedPurity" name="selectedPurity" #selectPurity="ngModel" required>
              <mat-option
                value="{{ p.purityId }}"
                *ngFor="let p of purities"
                (click)="onPuritySelectionChange(p.purityId)"
              >
                {{ p.purityName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      
        <mat-slide-toggle (toggleChange)="onToggle()" [(ngModel)]="selectedStatus">Status</mat-slide-toggle>
      
        <br />
        <br />
        <button class="button" [disabled]="!rate.ratePerGram || !selectedMetal || !selectedPurity" (click)="onSubmit()" routerLink="/rateall">
          Submit
        </button>
        <br />
      </form>
      
      
      
  
      <!-- <div class="field">
      <input
        ngModel
        #confirmPassword="ngModel"
        required
        minlength="3"
        pattern="[a-z A-Z 0-9]*"
        type="text"
        name="designame"
        [(ngModel)]="Login.confirmPassword"
        id="name"
        placeholder=" "
        [value]="confirmPassword"
      />
      <label for="name"
        ><i
          class="fa fa-id-card-o"
          style="font-size: 10px; margin-right: 7px"
        ></i
        >confirmPassword
      </label>
    </div> -->
  
      <!-- <div
      style="margin-top: -16px"
      class="text-danger"
      *ngIf="confirmPassword.invalid && confirmPassword.touched"
    > -->
    </div>
  
