<div class="container">
  <div class="d-flex justify-content-between align-items-center">
    <h1>Return</h1>
    <a routerLink="/allreturn"
      ><i class="fa fa-times" style="color: black; font-size: 25px"></i
    ></a>
  </div>

  <div class="row">
    <div class="col-md-6">
      <label><b>Wastage :</b></label>

      <input
        type="text"
        name="wastage"
        class="form-control"
        placeholder="wastage"
        size="15"
        ngModel
        #wastage="ngModel"
        required
        pattern="[a-zA-Z0-9.]*"
        type="text"
        name="wastage"
        [(ngModel)]="return.wastage"
      />
      <div
        class="alert alert-danger"
        *ngIf="wastage.touched && wastage.invalid"
      >
        Wastage is required
      </div>
    </div>
    <br /><br />

    <div class="col-md-6">
      <label><b>Gross-Weight :</b></label>

      <input
        type="text"
        name="grossWeight"
        class="form-control"
        placeholder="grossWeight"
        size="15"
        ngModel
        #grossWeight="ngModel"
        required
        
        type="text"
        name="grossWeight"
        [(ngModel)]="return.grossWeight"
        (keyup)="netWeight1()"
      />
      <div
        class="alert alert-danger"
        *ngIf="grossWeight.touched && grossWeight.invalid"
      >
        Gross Weight required
      </div>
    </div>
    <br /><br /><br /><br />
    <div class="col-md-6">
      <label><b>Net-Weight :</b></label>

      <input
        type="text"
        name="netWeight"
        placeholder="netWeight"
        size="15"
        ngModel
        #netWeight="ngModel"
        required
        class="form-control"
       
        type="text"
        name="netWeight"
        [(ngModel)]="return.netWeight"
        [value]="this.return.netWeight"
        disabled
      />
      <div
        class="alert alert-danger"
        *ngIf="netWeight.touched && netWeight.invalid"
      >
        Net Weight required
      </div>
    </div>
    <br /><br /><br />
    <div class="col-md-6">
      <label><b>Description :</b></label>

      <input
        type="text"
        name="Description"
        placeholder="description"
        size="15"
        ngModel
        class="form-control"
        #description="ngModel"
        required
        
        type="text"
        name="description"
        [(ngModel)]="return.description"
      />
      <div
        class="alert alert-danger"
        *ngIf="description.touched && description.invalid"
      >
        Description required
      </div>
    </div>
    <br /><br /><br /><br />

    <div class="col-md-6">
      <div class="form-Group">
        <label for="User">Metal : </label> &nbsp;&nbsp;
        <select
          class="form-control"
          [(ngModel)]="return.metal.metalId"
          (change)="calculateReturnAmount()"
          #selectMetal
        >
        <option value="0" selected disabled>Select Metal...</option>

          <option value="{{ m.metalId }}" *ngFor="let m of metals">
            {{ m.metalName }}
          </option>
        </select>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-Group">
        <label for="User">Purity : </label>
        <select
          class="form-control"
          [disabled]="isPurityDisabled"
          [(ngModel)]="return.purity.purityId"
          (change)="calculateReturnAmount()"
          #selectPurity
        >
        <option value="0" selected disabled>Select Purity...</option>

          <option value="{{ p.purityId }}" *ngFor="let p of purities">
            {{ p.purityName }}
          </option>
        </select>
      </div>
    </div>
    <br /><br /><br /><br />
    <div class="col-md-6">
      <div class="form-Group">
        <label for="User">Category : </label>
        <select
          class="form-control"
          [(ngModel)]="return.category.categoryId"
          (change)="onCategory()"
          #selectCategory
        >
        <option value="0" selected disabled>Select Category...</option>
          <option value="{{ c.categoryId }}" *ngFor="let c of categories">
            {{ c.categoryName }}
          </option>
        </select>
      </div>
    </div>
    <br /><br /><br /><br />
    <div class="col-md-6">
      <label><b>Return Amount :</b></label>

      <input
        type="text"
        name="returnAmount"
        placeholder="returnAmount"
        size="15"
        ngModel
        class="form-control"
        #returnAmount="ngModel"
        required
        pattern="[a-z A-Z 0-9]*"
        type="text"
        [(ngModel)]="return.returnAmount"
        disabled
      />
      <div
        class="alert alert-danger"
        *ngIf="returnAmount.touched && returnAmount.invalid"
      >
        Return Amount required
      </div>
    </div>
    <br /><br /><br /><br />
  </div>
  <br />

  <!-- <div class="form-Group">
        <label for="Section">User : </label> &nbsp;&nbsp;&nbsp;&nbsp;
         <select id="sections" class="form-Group" #selectUser>
            <option value="{{u.userId}}" *ngFor="let u of users">{{u.userName}}</option>
         </select>
         <button class="button" (click)="onAddUser(selectUser)">Add User</button>
      </div> -->

  <!-- <div>
          <ul class="list-group">
              <li class="list-group-item" *ngFor="let fu of formUsers.controls">{{ getUserName(fu.value)}}</li>
          </ul>
      </div> -->

  <button class="button" (click)="onSubmit()">Submit</button>
</div>
