<div class="container mt-3">
   <div class="row justify-content-center">
     <div class="col-md-6">

      <div class="flex-container">
         <h2><b >Owner</b></h2>
         <i class="fa fa-times" routerLink="/"></i>
       </div>
       
       <br>
 
       <form>
         <div class="form-group">
           <label for="ownerName">Owner Name:</label>
           
           <input type="text" class="form-control"  #ownerName="ngModel"  id="ownerName" [(ngModel)]="owner.ownerName" name="ownerName"
             required >
             <div class="alert alert-danger" *ngIf="ownerName.touched && ownerName.invalid">Owner Name is required</div>
         </div>
 
         <div class="form-group">
           <label for="phone">Phone Number:</label>
           <input type="text" class="form-control"  #phone="ngModel" id="phone" [(ngModel)]="owner.phone" name="phone" required
             pattern="[0-9]*">
           <div class="alert alert-danger" *ngIf="phone.touched && phone.invalid">Phone is required</div>
         </div>
 
         <div class="form-group">
           <label for="password">Password:</label>
           <input type="password" class="form-control"  #password="ngModel" id="password" [(ngModel)]="owner.password" name="password"
             required pattern="[a-zA-Z0-9]*">
           <div class="alert alert-danger" *ngIf="password.touched && password.invalid">Password is required</div>
         </div>
 <br>
         <div class="form-group">
           <button class="btn btn-primary btn-block" style="border-radius: 10px;" (click)="onSubmit()"><b>Submit</b></button>
         </div>
       </form>
     </div>
   </div>
 </div>
 