.fa-times{
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
}



.container {
  margin: 20px;
  padding: 20px;
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 2px 2px 7px 7px gray;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  box-sizing: border-box; /* Ensure padding doesn't affect the container's width */
}


/* Responsive media queries */
@media (max-width: 768px) {
  .container {
    padding: 10px; /* Adjusted padding for smaller screens */
  }
}