<div class="container">
  <div class="cancel d-flex justify-content-between align-items-center">
    <h1>Category</h1>
    <a routerLink="/allcategory"><i class="fa fa-times"></i></a>
  </div>
  <label><b>Category Name :</b></label>
  <br />
  <input
    type="text"
    name="categoryName"
    placeholder="categoryName"
    size="15"
    ngModel
    #categoryName="ngModel"
    required
    pattern="[a-z A-Z 0-9]*"
    type="text"
    class="form-control"
    name="amountPaid"
    [(ngModel)]="category.categoryName"
  />
  <div
    class="alert alert-danger"
    *ngIf="categoryName.touched && categoryName.invalid"
    
  >
    Category Name is required
  </div>
  <br />

  <div>
  <label><b>Upload category image:</b></label>
   
      <div class="d-flex">
        <input type="file" class="form-control" #fileInput (change)="onFileSelected($event)" />
        <!-- <button class="button" type="submit" (click)="imageUpload()">Upload</button> -->
      </div>

    <div *ngIf="response">{{ response }}</div>
  </div>
  <br />

  <mat-slide-toggle
  [(ngModel)]="category.activeStatus"
  (toggleChange)="(status)"
  >Status</mat-slide-toggle
>
<br>
<br>
  <button class="button" (click)="onSubmit()">Submit</button>
</div>
