.container {
  margin-top: 4%;
  padding: 20px;
  background-color: white;
  max-width: 50%;
  border-radius: 20px;
  box-shadow: 2px 2px 7px 7px rgb(190, 187, 187);
}


.select-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}






.button {
  margin-top: 10px;
  padding: 8px 16px;
  background: linear-gradient(90deg, #ffd700 0%, #ffd700 16%, #e5c100 50%, #ffd700 83%, #ffd700 100%);
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  cursor: pointer;
  animation: colorMovement 4s infinite; 
}

@keyframes colorMovement {
  0% {
    background-position: 0% 50%; 
  }
  100% {
    background-position: 100% 50%; 
  }
}

.cancel{
  margin-top: -40px;
  margin-left: 90%;
}

@media (max-width: 768px) {
  .select-container {
      flex-direction: column;
  }
}