<div class="container">
  <h3><b>Scheme Receipts</b></h3>
  <div class="cancel">
    <a routerLink="/home3"
      ><i class="fa fa-times" style="color: black; font-size: 30px"></i
    ></a>
  </div>
  <form class="Main">
    <div class="row">
      <div class="col-md-6">
        <div class="input-selectbox">
          <div class="select-container form-group">
            <label for="scheme">Scheme:</label>
            <select
              [(ngModel)]="selectedScheme"
              name="scheme"
              class="form-control"
              (ngModelChange)="onSchemeSelectionChange($event)">
              <option [value]="null" selected disabled>Select Scheme..</option>
              <option *ngFor="let scheme of schemes" [value]="scheme.schemeId">
                {{ scheme.schemeName }}
              </option> 
            </select>
          </div>
        </div>
        <table class="table" *ngIf="selectedSchemeCustomer">
          <thead>
            <tr>
              <th scope="col">Due Months</th>
              <th scope="col">Due Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{pendingMonths}} Months</td>
              <td>{{pendingAmount}}</td>
            </tr>
          </tbody>
        </table>
      </div>




      <div class="col-md-6">
        <div class="input-selectbox">
          <div class="select-container form-group">
            <label for="schemeCustomer">Scheme Customer:</label>
            <select
              [(ngModel)]="selectedSchemeCustomer"
              name="schemeCustomer"
              class="form-control"
              (ngModelChange)="onSchemeCustomerSelectionChange($event)"
              aria-label="Default select example"
            >
              <option [value]="null" disabled selected>
                Select Scheme Customer:
              </option>
              <option
                *ngFor="let sc of schemeCustomers"
                [value]="sc.schemeCustomerRecId"
              >
                {{ sc.customerLuckyNo }}
              </option>
            </select>
          </div>

          <!-- Display selected customer details -->
          <div *ngIf="selectedSchemeCustomer">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Customer Name</th>
                  <th scope="col">Customer Phone</th>
                  <th scope="col">Email Id</th>

                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    {{ schemeReceipts.schemeCustomerReceipt.customerName }}
                  </td>
                  <td>
                    {{ schemeReceipts.schemeCustomerReceipt.customerPhone }}
                  </td>
                  <td>
                    {{ schemeReceipts.schemeCustomerReceipt.email }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>




      <div class="col-md-6">
        <label for="amount">Amount Paid:</label> <br />
        <input
          type="number"
          name="amount"
          placeholder="Amount Paid"
          class="form-control"
          ngModel
          #amount="ngModel"
          required
         
          [(ngModel)]="schemeReceipts.amount"
        />
        <div
          class="alert alert-danger"
          *ngIf="amount.touched && amount.invalid"
        >
          Amount is required
        </div>
      </div>



      

      <div class="col-md-6">
        <div class="">
          <div class="">
            <label for="modeOfPayment">Mode Of Payment:</label>
            <select
              [(ngModel)]="selectedModeOfPayment"
              name="modeOfPayment"
              class="form-control"
              (ngModelChange)="onModeOfPaymentSelectionChange($event)"
              aria-label="Default select example"
            >
              <option [value]="null" disabled selected>
                Select Mode Of Payment:
              </option>
              <option *ngFor="let mop of mops" [value]="mop.modeOfPaymentId">
                {{ mop.modeOfPayment }}
              </option>
            </select>
          </div>
        </div>
      </div>



      <div class="col-md-6">
        <label for="paymentDate">Date:</label>
        <input
          type="date"
          [(ngModel)]="schemeReceipts.paymentDate"
          name="paymentDate"
          class="form-control"
        />
      </div>
    </div>




    <div class="col-md-6">
      <label><b>Customer Email Id : </b></label>
      <input
        type="text"
        class="form-control"
        name="customerName"
        placeholder="Customer Email Id"
        size="15"
        ngModel
        #email="ngModel"
        required
        
        [(ngModel)]="schemeReceipts.schemeCustomerReceipt.email"
      />
      <div
        class="alert alert-danger"
        *ngIf="email.touched && email.invalid"
      >email is required
      </div>
    </div>






    <button class="button" (click)="onSubmit()"><b>Submit</b></button>
  </form>
</div>
    