.container {
 
  padding: 20px;
  background-color: white;
  max-width: 40%;
  border-radius: 7px;
  box-shadow: 2px 2px 7px 7px rgb(190, 187, 187);
  margin-top: 4%;
}

.custom-container{
  padding: 20px;
  background-color: white;
  max-width: 90%;
  border-radius: 7px;
  box-shadow: 2px 2px 7px 7px rgb(190, 187, 187);
  margin-top: 8%;
}

.fa-times{
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
}

.main{
  display: contents;
}

.button {
  margin-top: -40px;
  padding: 8px 16px;
  background: linear-gradient(90deg, #ffd700 0%, #ffd700 16%, #e5c100 50%, #ffd700 83%, #ffd700 100%);
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  cursor: pointer;
  animation: colorMovement 4s infinite; /* Apply the color movement animation */
}

@keyframes colorMovement {
  0% {
    background-position: 0% 50%; /* Start position of the gradient */
  }
  100% {
    background-position: 100% 50%; /* End position of the gradient */
  }
}


@keyframes bounce {
  0% {
    transform: translate(0, 4px);
  }
  50% {
    transform: translate(0, 8px);
  }
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .container {
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
  }

  .button {
    margin-top: -10px;
    padding: 8px 16px;
  }
}

.alert{
  margin: 0;
  padding: 0;
}


.calculatedMonths{
  font-size: 1.4rem;
  font-weight: 700;
}

