

<div class="row">
  <div class="col-md-8">
    <div class="container mx-auto" style="max-width: 800px">
      <div class=" d-flex justify-content-between align-items-center ">
        <h1>Scheme</h1>
    
        
          <i class="fa fa-times" aria-hidden="true" routerLink="/home3"></i>
        
      </div>
      <br />
      <div >
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          
          <ng-container matColumnDef="schemeId">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let element">{{ element.schemeId }}</td>
          </ng-container>
    
          <ng-container matColumnDef="schemeName">
            <th mat-header-cell *matHeaderCellDef>Scheme Name </th>
            <td mat-cell *matCellDef="let element">{{ element.schemeName }}</td>
          </ng-container>
    
          <ng-container matColumnDef="schemeAmount">
            <th mat-header-cell *matHeaderCellDef> Scheme Amount </th>
            <td mat-cell *matCellDef="let element">{{ element.schemeAmount }}</td>
          </ng-container>
    
          <ng-container matColumnDef="startDate">
            <th mat-header-cell *matHeaderCellDef>Start Date</th>
            <td mat-cell *matCellDef="let element">{{ element.startDate | date }}</td>
          </ng-container>
    
         
          <ng-container matColumnDef="endDate">
            <th mat-header-cell *matHeaderCellDef>End Date</th>
            <td mat-cell *matCellDef="let element">{{ element.endDate | date }}</td>
          </ng-container>
    
          <ng-container matColumnDef="amountPerMonth">
            <th mat-header-cell *matHeaderCellDef>Amount Per Month</th>
            <td mat-cell *matCellDef="let element">{{ element.amountPerMonth }}</td>
          </ng-container>
    
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
    
  </div>


  <div class="col-md-4">
    <div class="custom-container">
      <h3><b>Scheme Details</b></h3>
     
      <div class="main">
        <br />
        <label><b>Scheme Name:</b></label>
        <input
          placeholder="Scheme Name"
          class="form-control"
          ngModel
          #schemeName="ngModel"
          required
          pattern="[a-z A-Z 0-9]*"
          type="text"
          name="schemeName"
          [(ngModel)]="scheme.schemeName"
          [value]="scheme.schemeName"
        />
        <div
          class="alert text-danger"
          *ngIf="schemeName.touched && schemeName.invalid"
        >
          Scheme Name is Required
        </div>
    
        <br />
        <label><b>Amount Per Month:</b></label>
        <input
          placeholder="Amount/Month"
          class="form-control"
          [(ngModel)]="scheme.amountPerMonth"
          (ngModelChange)="calculateSchemeAmount()"
          name="amountPerMonth"
          #amountPerMonthModel="ngModel"
          required
          pattern="[a-zA-Z0-9]*"
        />
        <br />
    
        <div class="row">
          <div class="col-md-4">
            <label><b>Start Date:</b></label>
            <input
              type="date"
              [(ngModel)]="scheme.startDate"
              (ngModelChange)="calculateSchemeAmount()"
              class="form-control"
            />
          </div>
          <div class="col-md-4">
            <label><b>End Date:</b></label>
            <input
              type="date"
              [(ngModel)]="scheme.endDate"
              (ngModelChange)="calculateSchemeAmount()"
              class="form-control"
            />
          </div>
          <div class="col-md-4">
            <label><b>Selected Months:</b></label>
            <div class="text-center mt-2 calculatedMonths">
              {{ calculatedMonths }}
            </div>
          </div>
        </div>
    
        <br />
    
        <label><b>Scheme Amount : </b></label>
    
        <input
          placeholder="Scheme Amount"
          class="form-control"
          ngModel
          #schemeAmount="ngModel"
          required
          pattern="[a-z A-Z 0-9]*"
          type="text"
          name="schemeAmount"
          [(ngModel)]="scheme.schemeAmount"
          [value]="scheme.schemeAmount"
          disabled
        />
        <label><b>Total Count Customer:</b></label>
        <input
          placeholder="Count/Scheme"
          class="form-control"
          [(ngModel)]="scheme.totalSizeCustomer"
        
          name="totalSizeCustomer"
          #amountPerMonthModel="ngModel"
          required
          pattern="[a-zA-Z0-9]*"
        />
        <br />
        <div
          class="alert alert-danger"
          *ngIf="schemeAmount.touched && schemeAmount.invalid"
        >
          Scheme Amount is Required
        </div>
      </div>
      <br /><br />
    
      <button class="button" (click)="onSubmit()">Submit</button>
    </div>
  </div>
</div>





