<div class="container">
  <div class="cancel d-flex justify-content-between align-items-center mb-3">
    <h1>Purity</h1>

    <a routerLink="/allpurity"
      ><i class="fa fa-times" style="color: black; font-size:25px" routerLink="/allpurity"></i
    ></a>
  </div>
 
  <form>
    <label for="purityName"><b>Purity Name:</b></label>
    <input
      #purityName="ngModel"
      required
      type="text"
      name="purityName"
      [(ngModel)]="purity.purityName"
      id="purityName"
      class="form-control"
      placeholder=" "
      [value]="purity.purityName"
    />
  
    <div class="alert alert-danger" *ngIf="purityName.touched && purityName.invalid">
      Purity Name is required
    </div>
  
    <br />
  
    <button class="button" [disabled]="!purity.purityName" (click)="onSubmit()" routerLink="/allpurity">
      <b>Submit</b>
    </button>
  </form>
  
</div>
