body{
    font-family: Calibri, Helvetica, sans-serif;
  }

.container {
    margin-top: 150px;
    padding: 50px;
    background-color:white;
    width: 600px;
    border-radius: 15px;
    height: auto;
  }

.cancel{
    margin-top: -50px;
    padding-top: 10px;
    }
    

.field {
  display: flex;
  justify-content: center;
  flex-flow: column-reverse;
  margin-bottom: 1em;
}


 
  
  @media (max-width: 600px) {
    .user1-box{
      width: 80%;
    }
  }