<!-- navigation.component.html -->
<div class="container-fluid top-navbar">
  <div class="row ">
    <div class="col-md-9 rates">
      <div class="part-1 d-flex justify-content-start">
        <p>22KT(961):Rs.{{ rate1 }}/g</p>
        <p>18KT(750):Rs.{{ rate2 }}/g</p>
        <p>Silver:Rs.{{ rate3 }}/kg</p>
      </div>
    </div>
    <div class="col-md-3 ">
      <p class="text-md-right">Updated on : {{ date }}</p>
    </div>
  </div>
</div>



<div class="bottom-navbar">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <div>
       <a class="navbar-brand d-flex align-items-center" >
        <i
        *ngIf="isAdmin"
        class="fa fa-bars"
        (click)="toggleSideNav()"
        style="font-size: 1.8rem;margin-right:10px; color: white; cursor: pointer"
      ></i>
      <img
      [src]="imageSrc"  
      alt=""
      width="40"
      height="40"
      class="img-fluid"
    />
        
        <b class="title">{{shop.shopName}}</b>
      </a>
      
      </div>
     <div>
      <button
      class="navbar-toggler"
      type="button"
      (click)="toggleNavbarCollapse()"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse"
      [ngClass]="{ show: isNavbarCollapsed }"
    >
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngIf="!userName">
          <a class="nav-link"  (click)="openDialog()">      
      <i class="fa fa-user-circle ml-2" (click)="toggleNavbarCollapse()" ></i>
          </a>
        </li>
        <li class="nav-item" *ngIf="userName">
          <a class="nav-link" routerLink="/home3">
            <i class="fa fa-home ml-2" data-toggle="tooltip" (click)="toggleNavbarCollapse()" title="Home"></i>
          </a>
        </li>
        <li class="nav-item" *ngIf="userName">
          <a class="nav-link" routerLink="/cart2">
            <i
              class="fa fa-shopping-cart ml-2"
              [matBadge]="cartCount"
              matBadgeColor="warn" (click)="toggleNavbarCollapse()"
              data-toggle="tooltip"
              title="Shopping Cart"
             
            ></i>
          </a>
        </li>
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        <li class="nav-item"  *ngIf="userName">
          <!-- <a
            class="nav-link"
            (click)="logout()" 
            data-toggle="tooltip"
            title="Logout"
          >
            <i class="fa fa-sign-out ml-2" (click)="toggleNavbarCollapse()"></i>
          </a> -->
          <div  class="profile" >
            <button  [matMenuTriggerFor]="aboveMenu" class=" user-avatar" [title]="owner.ownerName">
              {{ owner.ownerName.charAt(0).toUpperCase() }}
            </button>
            <mat-menu #aboveMenu="matMenu" yPosition="above">
              <p class="p">{{ owner.ownerName }}</p>
              <button mat-menu-item (click)="editProfile()">Edit Profile</button>
              <button mat-menu-item (click)="logout()">Logout</button>
            </mat-menu>
          </div>
        </li> &nbsp;
        &nbsp;
        &nbsp;
        
        <li class="nav-item" >
          <a  class="nav-link">
             <button mat-button (click)="openFilterDialog()" style="background-color: rgb(212, 154, 154);;"><b>Filter By</b></button>
             <app-filter></app-filter>
          </a>
        </li>
        
      </ul>
    </div>
     </div>
      
     
    </div>
  </nav>

  

  <div
    class="sidenav"
    [ngClass]="{ 'sidenav-open': sidenavOpen }"
    style="
      background-color: #dc9e6f;
      color: #fff;
      margin-top: 6.8%;
      list-style: none;
    "
  >
    <ul class="nav flex-column" id="nav_accordion">
      <li class="nav-item has-submenu">
        <a
          class="nav-link"
          style="color: white"
          routerLink="/dashboard"
          (click)="toggleSideNav()"
          >Dashboard</a
        >
      </li>

      <li
        class="nav-item has-submenu"
        (click)="toggleSubmenu('transactionSubMenu')"
      >
        <a class="nav-link" style="color: white"
          >Transaction <i class="bi small bi-caret-down-fill"></i
        ></a>
        <ul
          class="submenu collapse"
          id="transactionSubMenu"
          [ngClass]="{ show: submenuStates.transactionSubMenu }"
        >
          <li class="nav-list-item">
            <a class="nav-link" routerLink="/allbooking" (click)="toggleSideNav()"
              >Booking</a
            >
          </li>
          <li class="nav-list-item">
            <a
              class="nav-link"
              routerLink="/pendingpayments"
              (click)="toggleSideNav()"
              >Pending Payments</a
            >
          </li>
          <li class="nav-list-item">
            <a class="nav-link" routerLink="/allcustomers" (click)="toggleSideNav()"
              >Customer</a
            >
          </li>
          <li class="nav-list-item">
            <a class="nav-link" routerLink="/allreturn" (click)="toggleSideNav()"
              >Return</a
            >
          </li>
        </ul>
      </li>

      <li class="nav-item has-submenu" (click)="toggleSubmenu('schemeSubMenu')">
        <a class="nav-link" style="color: white"
          >Scheme <i class="bi small bi-caret-down-fill"></i
        ></a>
        <ul
          class="submenu collapse"
          id="schemeSubMenu"
          [ngClass]="{ show: submenuStates.schemeSubMenu }"
        >
          <li class="nav-list-item">
            <a class="nav-link" routerLink="scheme" (click)="toggleSideNav()"
              >Add Schemes</a
            >
          </li>
          <li class="nav-list-item">
            <a
              class="nav-link"
              routerLink="/schemecustomerReceipt"
              (click)="toggleSideNav()"
              >Scheme Registration</a
            >
          </li>
          <li class="nav-list-item">
            <a
              class="nav-link"
              routerLink="/schemeReceipts"
              (click)="toggleSideNav()"
              >Add Scheme Receipts</a
            >
          </li>
          <li class="nav-list-item">
            <a
              class="nav-link"
              routerLink="/schemerecall"
              (click)="toggleSideNav()"
              >Scheme Receipts All</a
            >
          </li>
        </ul>
      </li>

      <li
        class="nav-item has-submenu"
        (click)="toggleSubmenu('reportsSubMenu')"
      >
        <a class="nav-link" style="color: white"
          >Reports <i class="bi small bi-caret-down-fill"></i
        ></a>
        <ul
          class="submenu collapse"
          id="reportsSubMenu"
          [ngClass]="{ show: submenuStates.reportsSubMenu }"
        >
          <li class="nav-list-item">
            <a
              class="nav-link"
              routerLink="/salesReport"
              (click)="toggleSideNav()"
              >Sales Report</a
            >
          </li>
          <li class="nav-list-item">
            <a
              class="nav-link"
              routerLink="/lessPaidReport"
              (click)="toggleSideNav()"
              >Less Paid Report</a
            >
          </li>
          <li class="nav-list-item">
            <a
              class="nav-link"
              routerLink="/billReport"
              (click)="toggleSideNav()"
              >Bill Reports</a
            >
          </li>

          <li class="nav-list-item">
            <a
              class="nav-link"
              routerLink="/bookingReport"
              (click)="toggleSideNav()"
              >Booking Report</a
            >
          </li>

          <li class="nav-list-item">
            <a
              class="nav-link"
              routerLink="/returnReport"
              (click)="toggleSideNav()"
              >Return Report</a
            >
          </li>


          <li class="nav-list-item">
            <a
              class="nav-link"
              routerLink="/stockReport"
              (click)="toggleSideNav()"
              >Stock Report</a
            >
          </li>
        </ul>
      </li>

      <li class="nav-item has-submenu" (click)="toggleSubmenu('configSubMenu')">
        <a class="nav-link" style="color: white"
          >Configuration <i class="bi small bi-caret-down-fill"></i
        ></a>
        <ul
          class="submenu collapse"
          id="configSubMenu"
          [ngClass]="{ show: submenuStates.configSubMenu }"
        >
          <li class="nav-list-item">
            <a class="nav-link" routerLink="/allmetal" (click)="toggleSideNav()"
              >Metal</a
            >
          </li>
          <li class="nav-list-item">
            <a
              class="nav-link"
              routerLink="/allpurity"
              (click)="toggleSideNav()"
              >Purity</a
            >
          </li>

          <li class="nav-list-item">
            <a class="nav-link" routerLink="/rateall" (click)="toggleSideNav()"
              >Rate</a
            >
          </li>
          <li class="nav-list-item">
            <a class="nav-link" routerLink="/allproduct" (click)="toggleSideNav()"
              >Product</a
            >
          </li>

          <li class="nav-list-item">
            <a class="nav-link" routerLink="/allcategory" (click)="toggleSideNav()"
              >Category</a
            >
          </li>

          <li class="nav-list-item">
            <a
              class="nav-link"
              routerLink="/employeeall"
              (click)="toggleSideNav()"
              >Employee</a
            >
          </li>
          <li class="nav-list-item">
            <a
              class="nav-link"
              routerLink="/genderall"
              (click)="toggleSideNav()"
              >Gender</a
            >
          </li>
          <li class="nav-list-item">
            <a
              class="nav-link"
              routerLink="/allpaymentmode"
              (click)="toggleSideNav()"
              >Payment Mode</a
            >
          </li>
          <li class="nav-list-item">
            <a class="nav-link" routerLink="/productPurchaseall" (click)="toggleSideNav()"
              >Product Purchase</a
            >
          </li>
          <li class="nav-list-item">
            <a class="nav-link" routerLink="/stockall" (click)="toggleSideNav()"
              >Stock</a
            >
          </li>
          <li class="nav-list-item">
            <a class="nav-link" routerLink="/allowners" (click)="toggleSideNav()"
              >Owner</a
            >
          </li>
          <!-- <li class="nav-list-item">
            <a class="nav-link" routerLink="/roleall" (click)="toggleSideNav()"
              >Roles</a
            >
          </li> -->
          <li class="nav-list-item">
            <a class="nav-link" routerLink="/shopdetails" (click)="toggleSideNav()"
              >Shop</a
            >
          </li>
          <li class="nav-list-item">
            <a class="nav-link" routerLink="/bankDetailsall" (click)="toggleSideNav()"
              >BanK Details</a
            >
          </li>
          <!-- Add more submenu items here -->
        </ul>
      </li>
    </ul>
  </div>



  <!-- <div class="sidenav" [ngClass]="{ 'sidenav-open': sidenavOpen }">
    Side Nav Content
  </div> -->
</div>
