<div class="container">
  <div class="cancel d-flex justify-content-between align-items-center mb-3">
    <h1>Metal</h1>
    <a routerLink="/allmetal">
      <i class="fa fa-times" style="color: black; font-size: x-large"></i>
    </a>
  </div>

  <form>
    <label><b>Metal Name :</b></label>
    <input
      type="text"
      name="metalName"
      placeholder="metalName"
      size="15"
      ngModel
      #metalName="ngModel"
      required
      class="form-control"
      pattern="[a-zA-Z0-9]*"
      [(ngModel)]="metal.metalName"
      style="border-radius: 10px"
    />
    <div class="alert alert-danger" *ngIf="metalName.touched && metalName.invalid" style="padding-left: 50px">
      Metal Name is required
    </div>
    <br />
    
    <button class="button" [disabled]="!metal.metalName" (click)="onSubmit()" routerLink="/allmetal">
      <b> Submit </b>
    </button>
  </form>
  
</div>
