.container {
  padding: 20px;
  margin: 20px auto;
  max-width: 90%;
  width: 550px;
  height: auto;
}

.button {
  margin-top: -40px;
  padding: 8px 16px;
  background: linear-gradient(90deg, #ffd700 0%, #ffd700 16%, #e5c100 50%, #ffd700 83%, #ffd700 100%);
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  cursor: pointer;
  animation: colorMovement 4s infinite; /* Apply the color movement animation */
}

@keyframes colorMovement {
  0% {
    background-position: 0% 50%; /* Start position of the gradient */
  }
  100% {
    background-position: 100% 50%; /* End position of the gradient */
  }
}

.cancel {
  margin-top: -35px;
}

.button:hover {
  background: rgb(243, 213, 40);
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 10px;
    margin-top: 100px;
  }

  .button {
    margin-top: 0;
    width: 100%;
  }

  .cancel {
    margin-top: 0;
  }
}