* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* li {
  list-style-type: none;
}

* li a {
  text-decoration: none;
}

.search {
  position: fixed;
  display: none;
  padding: 15px;
  z-index: 10;
  background: #fff;
  width: 100%;
  height: 300px;
}

.search a {
  color: black;
  font-size: 30px;
}

.search .search-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 70%;
}

.search .search-input i {
  position: absolute;
  left: 505px;
  font-size: 20px;
}

.search .search-input input {
  width: 35%;
  height: 23%;
  padding-left: 30px;
}

.responsive-hamburger-page {
  position: absolute;
  display: none;
  background: #fff;
  z-index: 6;
  width: 60%;
  height: 304em;
}

.responsive-hamburger-page ul {
  padding: 0;
  margin: 20px;
}

.responsive-hamburger-page ul li {
  margin-top: 25px;
  margin-top: 25px;
  border-bottom: 1px solid;
  padding-bottom: 10px;
}

.responsive-hamburger-page ul li a {
  color: black;
}

.responsive-hamburger-page ul li .res-collect-Btn, .responsive-hamburger-page ul li .res-moments-btn {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
}

.responsive-hamburger-page ul li .res-collection-item {
  display: none;
}

.responsive-hamburger-page ul li .res-collection-item .item {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.responsive-hamburger-page ul li .res-collection-item .item img {
  width: 20%;
}

.responsive-hamburger-page ul li .res-moments-item {
  display: none;
}

.responsive-hamburger-page ul li .res-moments-item ul {
  margin: 0;
}

.responsive-hamburger-page ul li .res-moments-item ul li {
  border-bottom: none;
}

.responsive-hamburger-page ul .home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.responsive-hamburger-page ul .home .closed {
  font-size: 25px;
}

header {
  background-color: #fffe;
  height: 60px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 5;
}

header .row {
  height: 100%;
  margin: 0;
}

header .row .nav-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .row .nav-links ul li {
  margin-right: 15px;
}

header .row .nav-links ul li .collection-item {
  width: 14%;
  background-color: #e1bfa2;
  position: absolute;
  padding: 18px;
  border-radius: 8px;
  top: 65px;
  left: 37%;
  display: none;
  -webkit-transition: top 20px, ease-in-out 2s;
  transition: top 20px, ease-in-out 2s;
}

header .row .nav-links ul li .collection-item .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

header .row .nav-links ul li .collection-item .item a {
  margin-right: 20px;
}

header .row .nav-links ul li .collection-item .item img {
  width: 40%;
}

header .row .nav-links ul li .moments-item {
  display: none;
  position: absolute;
  background: #e1bfa2;
  border-radius: 5px;
  top: 65px;
  left: 45%;
  padding: 20px 10px;
}

header .row .nav-links ul li .moments-item ul {
  display: block;
}

header .row .nav-links ul li .moments-item ul li {
  margin-top: 10px;
}

header .row .nav-links ul li a {
  color: black;
  font-size: 20px;
}

header .row .nav-links ul li a i {
  margin-left: 5px;
  font-size: 15px;
  font-weight: 600;
}

header .row .nav-links ul li a:hover {
  color: #c09478;
}

header .row .search-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .row .search-cart .shopping-cart-btn {
  position: relative;
}

header .row .search-cart .shopping-cart-list {
  background-color: #e1bfa2;
  display: none;
  position: absolute;
  border-radius: 0 0 0 10px;
  width: 25%;
  top: 60px;
  right: 0;
  padding: 15px;
}

header .row .search-cart .shopping-cart-list .list-item {
  color: #fff;
}

header .row .search-cart .shopping-cart-list .list-item a {
  color: #fff;
  font-size: 20px;
}

header .row .search-cart a {
  color: black;
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  margin: 0 8px;
}

header .row .search-cart a .shopping-count {
  font-size: 14px;
  position: absolute;
  bottom: 20px;
  left: 17px;
  background: #eed1be;
  padding: 0 7px;
  border-radius: 50%;
}

header .row .search-cart a .fa-user {
  font-size: 20px;
}
