

.container {
    /* margin-top: 1px;*/
    padding: 20px 40px; 
    background-color:white;
    width: 700px;
    border-radius: 7px;
    box-shadow: 2px 2px 7px 7px rgb(173, 167, 167);
    height: auto;
  }
  
 
  .col-md-6{
    margin-bottom: 10px;
  }
   
  
  
  .field{
    width: 50%;
  }
  
  