
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="container">
      <div class="">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h2>Customer Form</h2>
          <a routerLink="/allcustomers" style="color: black; font-size: 1.6rem; cursor:pointer"
            ><i class="fa fa-times"></i
          ></a>
        </div>
        <form class="example-form" #form="ngForm">
          <div class="row">
            <div class="col-md-6">
              <label for="Customer">Customer Name :</label>
              <input
                ngModel
                #customerName="ngModel"
                required
                minlength="3"
                pattern="[a-z A-Z ]*"
                type="text"
                name="customerName"
                class="form-control"
                [(ngModel)]="customer.customerName"
                id="productName"
                placeholder=" "
              />
              <div
                
                class="text-danger"
                *ngIf="customerName.invalid && customerName.touched"
              >
                <div *ngIf="customerName.errors!['required']">
                  <i
                    style="margin-right: 5px"
                    class="fa fa-exclamation-triangle"
                  ></i
                  >Product Name is required
                </div>
                <div *ngIf="customerName.errors!['minlength']">
                  <i
                    style="margin-right: 5px"
                    class="fa fa-exclamation-triangle"
                  ></i>
                  It should be Minimum 6 character
                </div>
                <div *ngIf="customerName.errors!['pattern']">
                  <i
                    style="margin-right: 5px"
                    class="fa fa-exclamation-triangle"
                  ></i>
                  It should not be special character
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <label for="phone1">Phone No1:</label>
              <input
                ngModel
                #phone1="ngModel"
                required
                minlength="3"
                pattern="[0-9 a-z A-Z]*"
                type="text"
                class="form-control"
                name="phone1"
                [(ngModel)]="customer.phone1"
                id="phone1"
                placeholder=" "
              />
              <div
                
                class="text-danger"
                *ngIf="phone1.invalid && phone1.touched"
              >
                <div *ngIf="phone1.errors!['required']">
                  <i
                    style="margin-right: 5px"
                    class="fa fa-exclamation-triangle"
                  ></i
                  >Weightage is required
                </div>
                <div *ngIf="phone1.errors!['minlength']">
                  <i
                    style="margin-right: 5px"
                    class="fa fa-exclamation-triangle"
                  ></i>
                  It should be Minimum 1 character
                </div>
                <div *ngIf="phone1.errors!['pattern']">
                  <i
                    style="margin-right: 5px"
                    class="fa fa-exclamation-triangle"
                  ></i>
                  It should not be special character
                </div>
              </div>
            </div>


            <div class="col-md-6">
              <label for="phone2"
                >Phone No2:</label
              >
              <input
                ngModel
                #phone2="ngModel"
                
                type="text"
                name="phoneNo2"
                class="form-control"
                [(ngModel)]="customer.phone2"
                id="phone2"
                placeholder=" "
              />
             
            </div>


            <div class="col-md-6">
              <label for="email"
                >Email :</label
              >
              <input
                ngModel
                #email="ngModel"
                required
                minlength="3"
                type="text"
                name="email"
                class="form-control"
                [(ngModel)]="customer.email"
                id="email"
                placeholder=" "
              />
              <div
              
              class="text-danger"
              *ngIf="email.invalid && email.touched"
            >
              <div *ngIf="email.errors!['required']">
                <i
                  style="margin-right: 5px"
                  class="fa fa-exclamation-triangle"
                ></i
                >Description is required
              </div>
              <div *ngIf="email.errors!['minlength']">
                <i
                  style="margin-right: 5px"
                  class="fa fa-exclamation-triangle"
                ></i>
                It should be Minimum 6 character
              </div>
              <div *ngIf="email.errors!['pattern']">
                <i
                  style="margin-right: 5px"
                  class="fa fa-exclamation-triangle"
                ></i>
                It should not be special character
              </div>
            </div>
            </div>

            <div class="col-md-6">
              <label for="location"
                >Location :</label
              >
              <input
                ngModel
                #location="ngModel"
                required
               
                pattern="[a-z A-Z ]*"
                type="text"
                name="location"
                class="form-control"
                [(ngModel)]="customer.location"
                id="location"
                placeholder=" "
              />
              <div
             
              class="text-danger"
              *ngIf="location.invalid && location.touched"
            >
              <div *ngIf="location.errors!['required']">
                <i
                  style="margin-right: 5px"
                  class="fa fa-exclamation-triangle"
                ></i
                >Description is required
              </div>
              <div *ngIf="location.errors!['minlength']">
                <i
                  style="margin-right: 5px"
                  class="fa fa-exclamation-triangle"
                ></i>
                It should be Minimum 6 character
              </div>
              <div *ngIf="location.errors!['pattern']">
                <i
                  style="margin-right: 5px"
                  class="fa fa-exclamation-triangle"
                ></i>
                It should not be special character
              </div>
            </div>
            </div>


            <div class="col-md-6">
              <mat-form-field>
                <mat-label>Gender </mat-label>
                <mat-select class="form-Group" [(ngModel)]="customer.gender.genderId" name="gender" #selectGender>
                  <mat-option
                  
                    *ngFor="let g of genders"
                    [value]="g.genderId"
                    
                    >{{ g.gender }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>


          </div>   

          <button
            class="button"
           
            (click)="onSubmit()"
          >
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
