.Main {

  padding: 10px 30px;
  background-color: whitesmoke;
  border-radius: 10px;
  min-height: 450px;
  box-shadow: 2px 2px 7px 7px gray;
}

mat-form-field{
  width: 100%;
}


.fa-plus{
  font-size: 1.4rem;
}


.plus-button{
  margin-top: -15px;
}





@keyframes colorMovement {
  0% {
    background-position: 0% 50%; /* Start position of the gradient */
  }
  100% {
    background-position: 100% 50%; /* End position of the gradient */
  }
}

/* Responsive styles for smaller screens (e.g., mobile devices) */
@media screen and (max-width: 400px) {
  h3 {
    font-size: 20px;
  }

  form label {
    font-size: 16px;
  }

  .form {
    width: 95%; /* Reduce the width further */
    padding: 10px; /* Reduce padding for smaller screens */
  }

  select, input[type="text"], input[type="date"] {
    padding: 8px; /* Reduce input field padding */
  }

  button.button {
    padding: 8px;
  }
}





.fa-times{
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
}

.table{
  margin-top: -20px;

}